
<div ng-app="ng-app">
  <h2>Libraries</h2>
  <p>A list of libraries/frameworks to poke around with</p>
  <dl class="dl-horizontal">
    <dt> <a href="http://brunch.io/"> Brunch</a>
      <dd>
         
        An application assembler (used in this presentation) to help you get off the ground fast and allowing
        you to build a Javascript application that has testing capabilties and all sorts of frameworks built-in
      </dd>
    </dt>
    <dt><a href="http://emberjs.com">EmberJs</a>
      <dd>
        Illuminate-sponsored Javascript MVC framework. Uses its own templating system, Handlebars, and backed by
        a strong community.
      </dd>
    </dt>
    <dt><a href="http://angularjs.org">Angular JS</a>
      <dd>Another MVC Javascript framework. Backed by Google, and like Ember, makes heavy use of data-binding. </dd>
    </dt>
    <dt><a href="http://visionmedia.github.com/mocha/">Mocha</a>
      <dd>Javascript test runner. Often mixed with Chai for assertions.</dd>
    </dt>
    <dt><a href="http://chaijs.com/">Chai</a>
      <dd>BDD/TDD assertion libary for nodejs and the browser</dd>
    </dt>
    <dt><a href="http://twitter.github.com/bootstrap/index.html">Twitter Bootstrap</a>
      <dd>
        CSS scaffolding with some Javascript plugins for small effects you can't get with CSS alone. Bootsrap is
        highly themeable and becoming increasingly popular.
      </dd>
    </dt>
    <dt><a href="http://lesscss.org/">LESS</a>
      <dd>
        CSS preprocessor to let you do things like make colors as variables to help you keep a consistent theme
        and to make it easy to change a color everywhere. You can also do things like set a base font-size
        and in places where you want it just a little bigger, you can declare your font-size as fontSize+2
      </dd>
    </dt>
    <dt><a href="http://sass-lang.com/">SASS</a>
      <dd>^^</dd>
    </dt>
    <dt><a hreft="http://nodejs.org">Node JS</a>
      <dd>
        Javascript engine running on the server-side. Allows you to preprocess your LESS and SASS stylesheets
        instead of relying on the browser to do it. Connect to databases all in Javascript. Has an awesome package
        manager to install essentiall packages like uglify-js which does exactly that 
      </dd>
    </dt>
  </dl>
  <ul class="pager">
    <li class="previous"><a href="#/unit-testing/examples">&larr; Examples</a></li>
  </ul>
</div>