
<div ng-app="ng-app">
  <h2>It's called what?</h2>
  <p>If only the name was as awesome as it is. Be careful searching for this in Google..</p>
  <p>Testacular is another test runner but when combined with <a href="http://phantomjs.org/">PhantomJS </a>we can fully automate all of our unit/integration tests in TeamCity without needing to go the URL in the browser.
    Just like any of the other test runners, Testacular will run through all of your tests but with its configuration
    capabilities, you can have it run against all the browsers you care about and you can run it against the headless
    browser, PhantomJS. 
  </p><iframe width="560" height="315" src="http://www.youtube.com/embed/MVw8N3hTfCI" frameborder="0" allowfullscreen></iframe>
  <ul class="pager">
    <li class="previous"><a href="#/unit-testing/testrunners">&larr; Test Runners</a></li>
    <li class="next"><a href="#/unit-testing/bdd">BDD &rarr;</a></li>
  </ul>
</div>