div(ng-app='ng-app')
	h2 The challenges with unit-testing in Javascript

	ul.pager
		li.previous
			a(href='#/unit-testing/bdd') &larr; BDD
		li.next
			a(href='#/unit-testing/examples') Examples &rarr;