div(ng-app='ng-app')
	h2 Illuminate Examples

	code ./scripts/test.sh
	p
	code ./scripts/test-e2e.sh
	
	ul.pager
		li.previous
			a(href='#/unit-testing/challenges') &larr; Challenges
		li.next
			a(href='#/unit-testing/libraries') Libraries &rarr;