div(ng-app='ng-app')
	h2 Libraries

	p A list of libraries/frameworks to poke around with
	dl.dl-horizontal
		dt 
			a(href='http://brunch.io/')  Brunch
			dd 
				| An application assembler (used in this presentation) to help you get off the ground fast and allowing
				| you to build a Javascript application that has testing capabilties and all sorts of frameworks built-in
		dt
			a(href='http://emberjs.com') EmberJs
			dd
				| Illuminate-sponsored Javascript MVC framework. Uses its own templating system, Handlebars, and backed by
				| a strong community.
		dt
			a(href='http://angularjs.org') Angular JS
			dd
				| Another MVC Javascript framework. Backed by Google, and like Ember, makes heavy use of data-binding. 
		dt
			a(href='http://visionmedia.github.com/mocha/') Mocha
			dd
				| Javascript test runner. Often mixed with Chai for assertions.
		dt
			a(href='http://chaijs.com/') Chai
			dd
				| BDD/TDD assertion libary for nodejs and the browser
		dt
			a(href='http://twitter.github.com/bootstrap/index.html') Twitter Bootstrap
			dd
				| CSS scaffolding with some Javascript plugins for small effects you can't get with CSS alone. Bootsrap is
				| highly themeable and becoming increasingly popular.
		dt
			a(href='http://lesscss.org/') LESS
			dd
				| CSS preprocessor to let you do things like make colors as variables to help you keep a consistent theme
				| and to make it easy to change a color everywhere. You can also do things like set a base font-size
				| and in places where you want it just a little bigger, you can declare your font-size as fontSize+2
		dt
			a(href='http://sass-lang.com/') SASS
			dd
				| ^^
		dt
			a(hreft='http://nodejs.org') Node JS
			dd
				| Javascript engine running on the server-side. Allows you to preprocess your LESS and SASS stylesheets
				| instead of relying on the browser to do it. Connect to databases all in Javascript. Has an awesome package
				| manager to install essentiall packages like uglify-js which does exactly that 
	ul.pager
		li.previous
			a(href='#/unit-testing/examples') &larr; Examples