ul.nav
  li(ng-class="getClass('/overview')")
    a(ng-href='#/overview') Overview
  li(ng-class="getClass('/unit-testing')")
    a(ng-href='#/unit-testing') Unit-Testing
  li(ng-class="getClass('/d3')")
    a(ng-href='#/d3') D3
