div(ng-app='ng-app')
    h2 Overview
    div(ng-controller='OverviewCtrl')
        ul.unstyled
            li(ng-repeat='topic in topics')
                a(href='{{topic.uri}}') {{topic.linkText}}
                ul
                    li(ng-repeat='subtopic in topic.subs')
                        a(href='{{subtopic.uri}}') {{subtopic.linkText}}
                        ul
                            li(ng-repeat='granular in subtopic.subs')
                                a(href='{{granular.uri}}') {{granular.linkText}}
    ul.pager
        li.next
            a(href='#/unit-testing') Unit-Testing &rarr;