div(ng-app='ng-app')
	h2 For the unfamiliar in the audience...
	p 
		| The primary goal of unit testing is to take the smallest piece of testable software in the application, isolate it 
		| from the remainder of the code, and determine whether or not it behaves exactly as you expect
		span.superscript 1
	p 
		| Unit testing can prove invaluable as your functions grow more complicated and start adding increased functionality. 
		| For example, you will want to validate a function that validates a password field to make sure the user doesn't enter 
		| something they're not supposed to. This password validation function will probably using a RegEx. Let's take a look...
	code 
		pre 
			| function passwordValidation (password) {
			| &nbsp; &nbsp; return /^(?=.*[^a-zA-Z])(?=.*[a-z])(?=.*[A-Z])\S{8,}$/.test(password);
			| }
	p 
		| Unless you natively speak RegEx, you will want to verify that this function does only what you want it to do
		| and it does what you need it to do. This is where unit-testing comes in!



	div.footnotes
		hr
		ol
			li
				a(href='http://msdn.microsoft.com/en-us/library/aa292197(v=vs.71).aspx') Unit-Testing description

	ul.pager
		li.previous
			a(href='#/overview') &larr; Overview
		li.next
			a(href='#/unit-testing/testrunners') Test Runners &rarr;